<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <br>
    <mat-toolbar><img src="assets/imageee.png" height=200px style="    margin-left: -25px;"></mat-toolbar>
    <br>
    <br>
    <mat-nav-list>
        <!-- <a mat-list-item routerLinkActive="active" routerLink="home"><i class="glyphicon glyphicon-home">&nbsp;</i>home </a> -->
      <a mat-list-item routerLinkActive="active" routerLink="aboutus"><i class="glyphicon glyphicon-home">&nbsp;</i>aboutus </a>
      <a mat-list-item routerLinkActive="active" routerLink="/Company"><i class='glyphicon glyphicon-apple'>&nbsp;</i>company</a>
      <a mat-list-item routerLinkActive="active" routerLink="contactus"><i class="glyphicon glyphicon-phone-alt">&nbsp;</i>contact-us</a>
      <a mat-list-item routerLinkActive="active" routerLink="svg"><i class="glyphicon glyphicon-phone-alt">&nbsp;</i>svg</a>
      <!-- <a mat-list-item routerLinkActive="active" routerLink=""><i class="glyphicon glyphicon-phone-alt">&nbsp;</i>home</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"><i class="glyphicon glyphicon-th-list"></i></mat-icon>
      </button>
      <h1 style="font-size: xx-large">  <p style="font-family: cursive" >
        <span style='color: rgb(246, 246, 252)'>N</span>
        <span style='color: red'>A</span>
        <span style='color: yellow'>Y</span>
        <span style='color: rgb(237, 237, 243)'>A</span>
        <span style='color: rgb(27, 238, 27)'>K</span>
        <span style='color: rgb(243, 98, 98)'>'s</span>
      </p></h1>
      <!-- <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a> -->
        <!-- <a class="nav-item nav-link" (click)="logout()">Logout</a> -->
    <!-- </div> -->
      <!-- <a mat-list-item routerLinkActive="active" routerLink=""><i class="glyphicon glyphicon-phone-alt">&nbsp;</i>home</a>  -->
    </mat-toolbar>
    <!-- Add Content Here -->
  <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

